extends layout

block content
  .w3-container
    h1 Lista de de Alunos
    table.w3-table-all
        tr
            th Sigla
            th Estado
            th Designação
            th Ação
        each ent in entidades
            tr
                td= ent.sigla
                td= ent.estado
                td= ent.designacao
                td
                    a(href="http://localhost:3000/"+ent.id) Ver