doctype html
html
  head
    title Gestão de Arquivo Sonoro
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='./apagar.js')
    script(src='./edit.js')
    script(src='./show.js')
  body
    block content
